Flask==0.10.1
pycco
Flask-Login==0.2.6
Flask-SQLAlchemy==1.0
Flask-WTF==0.8.4
Jinja2==2.7.1
MarkupSafe==0.18
SQLAlchemy==0.8.2
WTForms==1.0.4
Werkzeug==0.9.3
distribute==0.6.34
flask-heroku==0.1.4
itsdangerous==0.23
psycopg2==2.5.1
requests==1.2.3
gunicorn==17.5
wsgiref==0.1.2